@import 'nativescript-theme-core/css/core.light.css';

.btn {
    font-size: 18;
}

.bg{
	background-color: #F5F5F5;
}

.box{
	width: 100%;
	float: left;
	background-color: #3498db;
	height: 100;
	color: #FFF;
	padding: 10;
	text-align: center;
	margin-top: 25px;
}

.titlePage{
	font-size: 30;
	color: black;
}

.subTitlePage{
	color: #AAA;
	font-size: 13;
	font-weight: 300;
}

.alignText{
	text-align: center;
}

.titleBox{
	font-size: 30;
	text-align: center;
}

.round{
	width: 150;
	height: 150;
	background-color: rgba(231, 76, 60, 0.8);
	border-radius: 100%;
	text-align: center;
	color: #FFF;
	padding-top: 50;
	margin-top: 8;
}

.roundTitle{
	font-weight: 300;
}

.roundValue{
	font-size: 25;
}

.borderRound{
	width: 165;
	height: 165;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	margin-top: 30;
}